<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <title>Home</title>

  <link rel="stylesheet" href="css/base.css">
  <link rel="stylesheet" href="css/layout.css">
  <link rel="stylesheet" href="css/module.css">
  <link rel="stylesheet" href="css/theme.css">
</head>

<body class="l-fill-parent l-container t-background">
	<div class="loading">Loading...</div>
	<ul class="l-two-col-list l-clearfix">
		<li>
			<div class="character-game-item l-fill-parent">
				<div class="l-fill-parent">
					<p class="overlay l-fill-parent">Play</p>
					<img src="http://placehold.it/214x317" alt="person">
					<div class="info">
						<h2 class="name">Person 1</h2>
						<p class="">Your Turn</p>
						<p class="date">13 min ago</p>
					</div>
				</div>
			</div>
		</li>

		<li>
			<div class="character-game-item l-fill-parent">
				<div class="l-fill-parent">
					<p class="overlay l-fill-parent">Play</p>
					<img src="http://placehold.it/214x317" alt="person">
					<div class="info">
						<h2 class="name">Person 1</h2>
						<p class="">Your Turn</p>
						<p class="date">13 min ago</p>
					</div>
				</div>
			</div>
		</li>

		<li>
			<div class="character-game-item l-fill-parent">
				<div class="l-fill-parent">
					<p class="overlay l-fill-parent">Play</p>
					<img src="http://placehold.it/214x317" alt="person">
					<div class="info">
						<h2 class="name">Person 1</h2>
						<p class="">Your Turn</p>
						<p class="date">13 min ago</p>
					</div>
				</div>
			</div>
		</li>

		<li>
			<div class="l-fill-parent new-game-item"><p>+ Start New Game</p></div>
		</li>
	</ul>
</body>
</html>