<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/stylesheets/ember-animated-outlet.css">
	<link rel="stylesheet" href="/stylesheets/base.css">
	<link rel="stylesheet" href="/stylesheets/layout.css">
	<link rel="stylesheet" href="/stylesheets/module.css">
	<link rel="stylesheet" href="/stylesheets/theme.css">
	<title>Gezzo?</title>
</head>
<body>
<!-- {{view Ember.Select
       content=programmers
       optionValuePath="content.id"
       optionLabelPath="content.firstName"
       value=currentProgrammer.id}}
        -->
	<!-- TODO: Remove Ember.Select once all the pages are complete, and the page are bound to each other -->
	<!-- TODO: There are some inline avatar images shown. They need to come from the controllers -->
	<!-- TODO: Need a home button in design -->
	<script type="text/x-handlebars" data-template-name="application">
		{{view Ember.Select 
			id="test-users-select"
			content=usertokens
			optionValuePath="content.id"
			optionLabelPath="content.name"
			value=token
			class="l-fill-width"}}
		{{#link-to 'index' classNames="title"}}Gezzoo?{{/link-to}}
		{{animated-outlet name="main"}}
		{{outlet modal}}
	</script>

	<script type="text/x-handlebars" data-template-name="user/view">
		<div class="comments">
			<div class="comment-wrapper">
				<div class="comment">
					<p class="l-text-center info">
						{{instructions}}
					</p>
				</div>
			</div>
		</div>

		<ul class="l-two-col-list l-clearfix">
			{{#each itemController='gameItem'}}
			<li>
				<div class="character-game-item l-fill-parent" {{action "select"}}>
					<div class="l-fill-parent">
						<p class="overlay l-fill-parent"></p>
						<img {{bind-attr src=useravatar}} alt="person">
						<div class="info l-anchor-bottom">
							<h2 class="name">{{username}}</h2>
							<p class="">{{turn}}</p>
							<p class="date">{{date}}</p>
						</div>
					</div>
				</div>
			</li>
			{{/each}}
			<li>
				<div class="character-game-item l-fill-parent" {{action "newgame"}}>
					<div class="l-fill-parent new-game-item">
						<p>+</p>
					</div>
				</div>
			</li>
		</ul>
	</script>

	<script type="text/x-handlebars" data-template-name="game/select">
		<div class="comments">
			<div class="comment-wrapper">
				<div class="comment">
					<p class="l-text-center info">
						{{instructions}}
					</p>
				</div>
			</div>
		</div>

		<ul class="l-two-col-list l-clearfix">
			{{#each characters itemController='gameSelectCharacterItem'}}
			<li>
				<div class="character-game-item l-fill-parent">
					<div class="l-fill-parent" {{action clicked}}>
						<img {{bind-attr src=img}} alt="person">
						<div class="controls l-anchor-bottom">
							<h2 class="name info">{{name}}</h2>

							{{#if isUserSelection}}
							<div class="l-inline-list l-clearfix">
								<p {{bind-attr class=":control :l-inline :l-100p isselected:show-control"}} {{action "select"}}>Select</p>
							</div>
							{{/if}}

						</div>
					</div>
				</div>
			</li>
			{{/each}}
		</ul>
	</script>

	<!-- TODO: You need to hide the 'guess' button if the character is flipped -->
	<script type="text/x-handlebars" data-template-name="game/board">
		<ul class="view-controls l-two-col-list l-clearfix">
			<li {{action 'board'}}>Board</li>
			<li {{action 'question'}}>Questions</li>
		</ul>

		<ul class="spacer l-two-col-list l-clearfix">
			<li {{bind-attr class=viewBoard:active}}></li>
			<li {{bind-attr class=viewBoard::active}}></li>
		</ul>

		<div class="comments">
			<div class="comment-wrapper">
				<div class="comment">
					<p class="l-text-center info">
					{{#if isUserAction}}
						Try to guess who you think {{opponent}} has. You can press any of the faces below and flip them over if you think {{opponent}} hasnt chosen them. Or hit the 'Questions' tab, and ask them a question!
					{{else}}
						Its not your turn right now, maybe taking a look at the past questions might help you figure out who {{opponent}} might have!
					{{/if}}
					</p>
				</div>
			</div>
		</div>

		{{#if viewBoard}}
			{{#with lastaction}}
			<div class="comments">
				{{#with me}}
				<div class="comment-wrapper">
					<div class="my-comment comment l-align-right l-clearfix">
						<img class="l-20p l-inline" {{bind-attr src=avatar}} alt="avatar">
						<div class="l-80p l-inline info">
							<p><span>You</span> asked:</p>
							<p class="text">{{value}}</p>
						</div>
					</div>
				</div>
				{{/with}}
				{{#with opponent}}
				<div class="comment-wrapper">
					<div class="comment l-two-col-list l-clearfix">
						<img class="l-20p l-inline" {{bind-attr src=avatar}} alt="avatar">
						<div class="l-80p l-inline info">
							<p><span>{{name}}</span> replied:</p>
							<p class="text">{{value}}</p>
						</div>
					</div>
				</div>
				{{/with}}
			</div>
			{{/with}}

			<ul class="l-two-col-list l-clearfix">
				{{#each board itemController='gameBoardCharacterItem'}}
				<li>
					<div class="character-game-item l-fill-parent">
						<div class="l-fill-parent">
							<p {{bind-attr class="up::flipped"}} {{action clicked}}><p>
							<img {{bind-attr src=img}} alt="person" {{action clicked}}>
							<div {{bind-attr class=":controls :l-anchor-bottom"}}>
								<h2 class="name info">{{name}}</h2>
								{{#if isUserAction}}
								<div class="l-inline-list l-clearfix">
									{{#if up}}
										<p {{bind-attr class=":control :l-inline up:l-50p:l-0p isselected:show-control"}} {{action "guess"}}>Guess</p>
									{{/if}}
									<p {{bind-attr class=":control :l-inline up:l-50p:l-100p isselected:show-control"}} {{action "flip"}}>Flip</p>
								</div>
								{{/if}}
							</div>
						</div>
					</div>
				</li>
				{{/each}}
			</ul>
		{{else}}
			{{#each allactions itemController='actionItem'}}
			<div class="comments">
				{{#if isAction}}
					{{#with me}}
					<div class="comment-wrapper">
						<div class="my-comment comment l-align-right l-clearfix">
							<img class="l-20p l-inline" {{bind-attr src=avatar}} alt="avatar">
							<div class="l-80p l-inline info">
								<p><span>You</span> asked:</p>
								<p class="text">{{value}}</p>
							</div>
						</div>
					</div>
					{{/with}}

					{{#with opponent}}
					<div class="comment-wrapper">
						<div class="comment l-two-col-list l-clearfix">
							<img class="l-20p l-inline" {{bind-attr src=avatar}} alt="avatar">
							<div class="l-80p l-inline info">
								<p><span>{{name}}</span> replied:</p>
								<p class="text">{{value}}</p>
							</div>
						</div>
					</div>
					{{/with}}
				{{else}}
				{{#with me}}
				<div class="comment-wrapper">
					<div class="my-comment comment l-align-right l-clearfix">
						<img class="l-20p l-inline" {{bind-attr src=avatar}} alt="avatar">
						<div class="l-80p l-inline info guess">
							<p><span>You</span> guessed {{character.name}}</p>
							<img {{bind-attr src=character.img}} alt="person">
						</div>
					</div>
				</div>
				{{/with}}
				{{/if}}
			</div>
			{{else}}
				<div class="comments">
					<div class="comment-wrapper">
						<p class='l-text-center empty'>
							{{#if isUserAction}}
								No activity yet! Why not ask {{opponent}} a question to help you guess their character.
							{{else}}
								No activity yet!
							{{/if}}
						</p>
					</div>
				</div>
			{{/each}}

			{{#if isUserAction}}
			<div class="comments">
				<div class="comment-wrapper">
					<div class="my-comment comment l-align-right l-clearfix">
						<img class="l-20p l-inline" {{bind-attr src=avatar}} alt="avatar">
						<div class="l-80p l-inline">
							<div class="input">
								<form class="" {{action ask on="submit"}}>
									{{input class="l-fill-parent" type="text" placeholder="Ask a question..." value=userquestion}}
									{{input class="l-fill-parent" type="submit" value="Submit"}}
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>	
			{{/if}}
		{{/if}}
	</script>

	<!-- TODO: Missing 'start new game with this person' -->
	<script type="text/x-handlebars" data-template-name="game/reply">
	<div class="comments">
		<div class="comment-wrapper">
			<div class="comment">
				<p class="l-text-center info">
					Below is a list of questions that {{opponent}} has asked you. You have to reply to their question before you have a chance to guess theirs.
				</p>
			</div>
		</div>
	</div>

	{{#each allactions itemController='replyItem'}}
		{{#if isAction}}
		<div class="comments">
			{{#with opponent}}
			<div class="comment-wrapper">
				<div class="comment l-two-col-list l-clearfix">
					<img class="l-20p l-inline" {{bind-attr src=avatar}} alt="avatar">
					<div class="l-80p l-inline info">
						<p><span>{{name}}</span> asked:</p>
						<p class="text">{{value}}</p>
					</div>
				</div>
			</div>
			{{/with}}
			{{#if me.value}}
			<div class="comment-wrapper">
				<div class="my-comment comment l-align-right l-clearfix">
					<img class="l-20p l-inline" {{bind-attr src=me.avatar}} alt="avatar">
					<div class="l-80p l-inline info">
						<p><span>You</span> replied:</p>
						<p class="text">{{me.value}}</p>
					</div>
				</div>
			</div>
			{{else}}
			<div class="comment-wrapper">
				<div class="my-comment comment l-align-right l-clearfix">
					<img class="l-20p l-inline" {{bind-attr src=me.avatar}} alt="avatar">
					<div class="l-80p l-inline">
						<div class="my-character">
							<p>Your character is <span>{{selectedCharacter.name}}<span></p>
							<img {{bind-attr src=selectedCharacter.img}} alt="person">
						</div>
						<div class="input">
							<form class="" {{action reply on="submit"}}>
								{{input class="l-fill-parent" type="text" placeholder="Reply..." value=userreply}}
								{{input class="l-fill-parent" type="submit" value="Submit"}}
							</form>
						</div>
					</div>
				</div>
			</div>	
			{{/if}}
		</div>
		{{else}}
			{{#with opponent}}
			<div class="comment-wrapper">
				<div class="comment l-two-col-list l-clearfix">
					<img class="l-20p l-inline" {{bind-attr src=avatar}} alt="avatar">
					<div class="l-80p l-inline info guess">
						<p><span>{{name}}</span> guessed {{character.name}}</p>
						<img {{bind-attr src=character.img}} alt="person">
					</div>
				</div>
			</div>
			{{/with}}
		{{/if}}
	{{else}}
		<div class="comments">
			<div class="comment-wrapper">
				<p class='l-text-center empty'>Nothing here yet..</p>
			</div>
		</div>
	{{/each}}
	</script>

	<script type="text/x-handlebars" id="components/modal-dialog">
		<div class="overlay">
			{{yield}}
		</div>
	</script>

	<script type="text/x-handlebars" data-template-name="modal">
		{{#modal-dialog}}
			<div class="dialog">
				<h2>{{title}}</h2>
				<p>{{text}}</p>
				{{#with confirm}}
					<p class="confirm" {{action "confirm"}}>{{text}}</p>
				{{/with}}
			</div>
		{{/modal-dialog}}
	</script>

	<script src="/javascripts/underscore.js"></script>
	<script src="/javascripts/moment.js"></script>	
	<script src="/javascripts/jquery-1.10.2.js"></script>
	<script src="/javascripts/handlebars-1.1.2.js"></script>
	<script src="/javascripts/ember-1.3.1.js"></script>
	<script src="/javascripts/ember-animated-outlet.js"></script>
	<script src="/javascripts/app.js"></script>
</body>
</html>