html(lang="en")
 head
  title Gezzo?
 body
  script(type="text/template", id="loginView")
   form
    input(type="text" id="username" size="15" placeHolder="Username")
    input(type="password" id="password" size="15" placeHolder="Password")
    button(type="submit" id="loginButton")
     span Login
  
  script(type="text/template", id="gamesHeader")
   h1 <%= data.username %>

  script(type="text/template", id="gamesItemView")
   li
    a(href="/games/<%= id %>")
     span <%= player1 %> vs <%= player2 %>

  div(id="main")
  script(data-main="/javascripts/gezzoo", src="/javascripts/require.js")