<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/stylesheets/base.css">
	<link rel="stylesheet" href="/stylesheets/layout.css">
	<link rel="stylesheet" href="/stylesheets/module.css">
	<link rel="stylesheet" href="/stylesheets/theme.css">
	<title>Gezzo?</title>
</head>
<body>
	<script type="text/x-handlebars" data-template-name="application">
		<p>Add links to the other views here</p>
		{{outlet}}
	</script>

	<script type="text/x-handlebars" data-template-name="index">
		<ul class="l-two-col-list l-clearfix">
			{{#each itemController='gameItem'}}
				<li>
					<div class="character-game-item l-fill-parent" {{action "select"}}>
						<div class="l-fill-parent">
							<p class="overlay l-fill-parent">Play</p>
							<img src="http://placehold.it/214x317" alt="person">
							<div class="info l-anchor-bottom">
								<h2 class="name">{{username}}</h2>
								<p class="">{{turn}}</p>
								<p class="date">{{date}}</p>
							</div>
						</div>
					</div>
				</li>
			{{/each}}
		</ul>
	</script>

	<script src="/javascripts/underscore.js"></script>
	<script src="/javascripts/moment.js"></script>	
	<script src="/javascripts/jquery-1.10.2.js"></script>
	<script src="/javascripts/handlebars-1.1.2.js"></script>
	<script src="/javascripts/ember-1.3.1.js"></script>
	<script src="/javascripts/app.js"></script>
</body>
</html>