<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/stylesheets/normalize.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<title>Gezzo?</title>
</head>
<body>

	<script id="fullscreen-loading" type="text/x-handlebars-template">
		<span>Loading...</span>
	</script>

	<script id="game-list" type="text/x-handlebars-template">
		<div class="block new-game">
			<div>+New Game</div>
		</div>
		{{#each game}}
			<div class="block myturn">
    			<img src="http://placehold.it/100x100"/>
    			<div class="game-info">
	        		<div class="username">{{opponent.username}}</div>
	        		<div class="state">Turn?</div>
	        		<div class='time'>12h</div>
    			</div>
			</div>			
		{{/each}}
	</script>

	<script id="character-select" type="text/x-handlebars-template">

	</script>

	<div id='main'/>

	<script src="/javascripts/jquery.js"></script>
	<script src="/javascripts/underscore.js"></script>
	<script src="/javascripts/handlebars.js"></script>
	<script src="/javascripts/kerangka.js"></script>
	<script src="/javascripts/main.js"></script>
</body>
</html>