/* Mobile First Smallest devices */
*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: Helvetica
}

#main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
}

/* game-list */
.block {
    overflow: hidden;
    height: 100px;
    vertical-align: middle;
    margin: 2px 0;
    cursor: pointer;
}

.new-game {
    background: #40ADF1;
    color: white;
}

.my-turn {
    background: tomato;
}

.their-turn {
    background: purple;
}

.block img {
    float: left;    
}

.game-info {
    float: left;
    padding: 8px;
}

.username {
    font-size: 1.5em;
}

.state {
    font-size: 1.1em;
}

.time {
    font-size: 1.1em;
}

/* ask question */
.ask-question {
    width: 100%;
    height: 100%;
}

.banner {
    border: 1px solid black;
}

.controls {
    width: 100%;
    overflow: hidden;
}

.control {
    width: 50%; 
    float: left; 
    text-align: center; 
    padding: 20px 0; 
    border: 1px solid black;
}

.action {
    border: 1px solid black;   
}

/* Small devices */
@media (min-width: 768px) {
	
}

/* Medium devices */
@media (min-width: 992px) {

}

/* Large devices */
@media (min-width: 1200px) {
	
}