/* Mobile First Smallest devices */
body {
    font-family: Helvetica
}

.block {
    overflow: hidden;
    height: 100px;
    vertical-align: middle;
}

.new-game {
    background: #40ADF1;
    color: white;
}

.myturn {
    background: tomato;
}

.myturn img {
    float: left;    
}

.game-info {
    float: left;
    padding: 8px;
}

.username {
    font-size: 1.5em;
}

.state {
    font-size: 1.1em;
}

.time {
    font-size: 1.1em;
}

/* Small devices */
@media (min-width: 768px) {
	
}

/* Medium devices */
@media (min-width: 992px) {

}

/* Large devices */
@media (min-width: 1200px) {
	
}