<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <title>Home</title>

  <link rel="stylesheet" href="../public/stylesheets/base.css">
  <link rel="stylesheet" href="../public/stylesheets/layout.css">
  <link rel="stylesheet" href="../public/stylesheets/module.css">
  <link rel="stylesheet" href="../public/stylesheets/theme.css">
</head>

<body class="l-fill-parent l-container t-background">
	<!-- <div class="overlay">
		<div class="dialog">
			<h2>Creating a new game</h2>
			<p>Hang in there... we just gotta find you someone to play with. Then you'll get to pick your character.</p>
		</div>
	</div> -->
	<ul class="l-two-col-list l-clearfix">
		<li>
			<div class="character-game-item l-fill-parent">
				<div class="l-fill-parent">
					<p class="overlay l-fill-parent">Play</p>
					<img src="http://placehold.it/214x317" alt="person">
					<div class="info l-anchor-bottom">
						<h2 class="name">Person 1</h2>
						<p class="">Your Turn</p>
						<p class="date">13 min ago</p>
					</div>
				</div>
			</div>
		</li>

		<li>
			<div class="character-game-item l-fill-parent">
				<div class="l-fill-parent">
					<p class="overlay l-fill-parent">Play</p>
					<img src="http://placehold.it/214x317" alt="person">
					<div class="info l-anchor-bottom">
						<h2 class="name">Person 1</h2>
						<p class="">Your Turn</p>
						<p class="date">13 min ago</p>
					</div>
				</div>
			</div>
		</li>

		<li>
			<div class="character-game-item l-fill-parent">
				<div class="l-fill-parent">
					<p class="overlay l-fill-parent">Play</p>
					<img src="http://placehold.it/214x317" alt="person">
					<div class="info l-anchor-bottom">
						<h2 class="name">Person 1</h2>
						<p class="">Your Turn</p>
						<p class="date">13 min ago</p>
					</div>
				</div>
			</div>
		</li>
		<li>
			<div class="character-game-item l-fill-parent">
				<div class="l-fill-parent new-game-item">
					<p>+</p>
				</div>
			</div>
		</li>

	</ul>
</body>
</html>