<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <title>Questions</title>

  <link rel="stylesheet" href="../public/stylesheets/base.css">
  <link rel="stylesheet" href="../public/stylesheets/layout.css">
  <link rel="stylesheet" href="../public/stylesheets/module.css">
  <link rel="stylesheet" href="../public/stylesheets/theme.css">
</head>

<body class="l-fill-parent l-container t-background">
	<div class="loading">Loading...</div>
	<ul class="view-controls l-two-col-list l-clearfix">
		<li>Board</li>
		<li>Questions</li>
	</ul>

	<ul class="spacer l-two-col-list l-clearfix">
		<li></li>
		<li class="active"></li>
	</ul>

	<div class="comments">
		<div class="comment-wrapper">
			<div class="my-comment comment l-align-right l-clearfix">
				<img class="l-20p l-inline" src="http://placehold.it/64x64" alt="avatar">
				<div class="l-80p l-inline info">
					<p><span>You</span> asked:</p>
					<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla?</p>
				</div>
			</div>
		</div>
		<div class="comment-wrapper">
			<div class="comment l-two-col-list l-clearfix">
				<img class="l-20p l-inline" src="http://placehold.it/64x64" alt="avatar">
				<div class="l-80p l-inline info">
					<p><span>Gezzo_1</span> replied:</p>
					<p class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit</p>
				</div>
			</div>
		</div>
	</div>

	<div class="comments">
		<div class="comment-wrapper">
			<div class="my-comment comment l-align-right l-clearfix">
				<img class="l-20p l-inline" src="http://placehold.it/64x64" alt="avatar">
				<div class="l-80p l-inline info guess">
					<p><span>You</span> guessed</p>
					<img src="http://placehold.it/214x317" alt="person">
				</div>
			</div>
		</div>
	</div>

	<div class="comments">
		<div class="comment-wrapper">
			<div class="my-comment comment l-align-right l-clearfix">
				<img class="l-20p l-inline" src="http://placehold.it/64x64" alt="avatar">
				<div class="l-80p l-inline">
					<div class="input">
						<input class="l-fill-parent" type="text" placeholder="Ask a question...">
						<input type="submit" value="Submit" class="l-fill-parent" />
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>