<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">

  <title>Animating Splash Screens</title>

  <link rel="stylesheet" href="../public/stylesheets/base.css">
  <link rel="stylesheet" href="../public/stylesheets/layout.css">
  <link rel="stylesheet" href="../public/stylesheets/module.css">
  <link rel="stylesheet" href="../public/stylesheets/theme.css">
</head>

<body class="block">
	<h1 class="splash-title slide">Crazy Company Name...</h1>
</body>
</html>